# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/back/config.php

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
back/public_html/uploads/car-g6f855b203_1280.png
back/public_html/uploads/car-g615fc74be_1280.jpg
back/public_html/uploads/car-g7071722a9_1280.jpg
back/public_html/uploads/chevy-impala-gdec33e0d3_1280.jpg
back/public_html/uploads/renault-g5483f6b02_1280.jpg
back/public_html/uploads/toyota-g9233d61c8_1280.jpg
