/* ADD CAR PAGE */
.addCarPage {
    padding: 10px;
}

.addCarPageTitle {
    text-align: center;
    font-family: oxygen;
}

.uploadResponseText {
    font-style: italic;
    font-size: 18px;
}

/* ADD CAR PAGE FORM */
.addCarFormPhotoDiv {
    display: flex;
    align-items: center;
}

.addCarFormPhotoDivContent {
    margin-left: 10px;
}

.AddCarFormTitle {
    font-family: righteous;
}

.addCarPageInputField {
    display: flex;
    margin-bottom: 10px;
}

.addCarPageInputFieldLabel {
    width: 200px;
}

.addCarPageInputFieldInput {
    margin-right: 10px;
}

.addCarPageFormSubmitBtnWrapper {
    display: flex;
    justify-content: center;
}

.addCarPageFormSubmitBtn {
    width: 200px;
    height: 40px;
    margin-top: 40px;
    cursor: pointer;
    background-color: var(--add-btn);
    font-family: righteous;
    font-size: 18px;
}

@media (min-width: 1250px) {
    .addCarFormContentWrapperTopBox {
        display: flex;
    }
    
    .addCarFormSectionWrapper {
        width: 50%;
    }

    .addCarFormContentWrapperBotBox {
        display: flex;
    }
}