.backofficemenuNav {
    list-style: none;
    position: absolute;
    background-color: var(--bg-color);
    visibility: hidden;
    width: 0%;
    max-width: 100%;
    z-index: 9;
}

.backofficemenuNav.showMenu {
    margin: 0;
    padding: 0;
    visibility: visible;
    width: 100%;
    height: 90vh;
    min-height: 750px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hamburgerBtn {
    background-color: var(--bg-color);
    border: none;
    position: absolute;
    top: 1vh;
    right: 1vw;
    width: 90px;
    height: 80px;
}

.backofficemenuNav li:hover {
    background-color: var(--btn-color);
    border-radius: 10px;
}

.userTitle {
    font-family: righteous;
    color: var(--white-color);
    font-size: 24px;
}

/* responsive desktop*/
@media (min-width: 1000px) {
    .backofficemenuNav {
        visibility: visible;
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: 20px;
    }

    .deconnexionBTN {
        margin-top: 60px;
    }

    .navBar {
        margin-top: 10px;
        width: 100%;
    }
    .hamburgerBtn {
        display: none;
    }
}

/* responsive large screen*/
@media (min-width: 1400px) {
    .backofficemenuNav {
        width: 70%;
    }
}