.carCardBox {
    border: solid 1px var(--black-color);
    margin: 0px 0px 20px 0px;
    height: 400px;
    background-color: var(--btn-color);
}

.cardTop {
    border-bottom: solid 1px var(--black-color);
    height: 50%;
}

.cardImage {
    object-fit: cover;
    height: 100%;
    border-radius: 0px;
    cursor: pointer;
}

.cardBotttom {
    padding: 5px;
    margin-bottom: 0;
}

.cardTitle {
    font-family: righteous;
    font-size: 24px;
}

.cardDescription {
    font-family: oxygen;
    font-size: 16px;
}

.cardInformation {
    font-family: roboto;
    font-size: 12px;
}

.priceBox {
    display: flex;
    margin-bottom: 0;
}

.cardPrice {
    font-family: righteous;
    font-size: 16px;
}

.cardTTC {
    font-family: righteous;
    font-size: 10px;
}

/* responsive tablet */
@media (min-width: 700px) {
    .carCardBox {
        width: 80%;
        margin: 15px auto;
    }

    .cardImage {
        width: 100%;
        margin: 0 0;
    }
}