.pageAccueilForm {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.pageAccueilformWrapper {
    margin: 0 auto;
    width: 80%;
}

.commentFormField {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.formLabel {
    font-family: righteous;
    margin-left: 20px;
}

.formInput {
    font-family: roboto;
    color: var(--black-color);
    font-size: 18px;
    width: 95%;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.commentFormFieldStarField {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.commentFormFieldStarField p {
    font-family: oxygen;
    font-size: 16px;
}

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    width: 100px;
    margin-left: 20px;
}
  
.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}
  
.rating label:last-child {
    position: static;
}
  
.rating label:nth-child(1) {
    z-index: 5;
}
  
.rating label:nth-child(2) {
    z-index: 4;
}
  
.rating label:nth-child(3) {
    z-index: 3;
}
  
.rating label:nth-child(4) {
    z-index: 2;
}
  
.rating label:nth-child(5) {
    z-index: 1;
}
  
.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
  
.rating label .icon {
    float: left;
    color: transparent;
}
  
.rating label:last-child .icon {
    color: var(--bg-color);
}
  
.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: #09f;
}
  
.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
}

.commentFormBtnWrapper {
    margin: 0 auto;
    width: 50%;
    margin-top: 60px;
}

.responseText {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.commentFormSubmitBtnWrapper {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.commentFormSubmitBtn {
    height: 60px;
    width: 100%;
    background-color: var(--btn-color);
    border: none;
    border-radius: 30px;
    font-family: righteous;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 2px 4px var(--bg-color);
}