.pageAccueilForm {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.pageAccueilformWrapper {
    margin: 0 auto;
    width: 80%;
}

.commentFormField {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.formLabel {
    font-family: righteous;
    margin-left: 20px;
}

.formInput {
    font-family: roboto;
    color: var(--black-color);
    font-size: 18px;
    width: 95%;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.commentFormFieldInputRange {
    display: flex;
    width: 100%;
    margin-left: 10px;
    justify-content: space-around;
    align-items: center;
}

.commentFormInputRangeInputWrapper {
    width: 80px;
    margin-left: 10px;
}

.commentFormStarWrapper {
    width: 100px;
    margin-left: 10px;
}

.formInputRange {
    width: 100%;
    overflow: hidden;
    appearance: initial;
    -webkit-appearance: none;
    background-color: #43e5f7;
}

.formInputRange::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    color: blue;
    cursor: pointer;
}

.formInputRange::-webkit-slider-thumb {
    width: 10px;
    appearance: initial;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: 80px 0 0 80px white;
    cursor: pointer;
}

.commentFormInputRangeDetail {
    font-family: oxygen;
    font-size: 16px;
    width: 15px;
}

.commentFormBtnWrapper {
    margin: 0 auto;
    width: 50%;
    margin-top: 60px;
}

.responseText {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.commentFormSubmitBtnWrapper {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.commentFormSubmitBtn {
    height: 60px;
    width: 100%;
    background-color: var(--btn-color);
    border: none;
    border-radius: 30px;
    font-family: righteous;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 2px 4px var(--bg-color);
}