footer {
    background-color: var(--bg-color);
    color: var(--white-color);
    font-family: roboto;
    text-align: center;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 30px;
}

footer p {
    color: var(--white-color);
    font-size: 12px;
}

.footerTopBox {
    display: flex;
    width: 100vw;
}

.addressePanel {
    width: 50%;
}

.contactPanel {
    width: 50%;
}

.footerBotBox {
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 60%;
    text-align: start;
    text-align: center;
}

.ouvertureBox {
    display: flex;
    text-align: center;
}

.daynameBox {
    width: 30%;
    text-align: start;
}

.horairesBox {
    width: 70%;
    text-align: start;
}

/* responsive table */
@media (min-width: 700px) {
    .footerBotBox {
        width: 50%;
        margin: 0 auto;
    }

    .ouvertureBox {
        text-align: center;
        justify-content: end;
    }

    .horairesBox {
        width: 50%;
    }
}

/* responsive desktop*/
@media (min-width: 1200px) {
    .footerContainer {
        display: flex;
        justify-content: space-between;
    }

    .footerTopBox {
        justify-content: end;
        margin-right: 6%;
    }

    .addressePanel {
        width: 30%;
    }

    .contactPanel {
        width: 30%;
    }

    .footerBotBox {
        padding: 0px;
    }
}