footer {
    background-color: var(--bg-color);
    color: var(--white-color);
    font-family: roboto;
    text-align: center;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 30px;
}

footer p {
    color: var(--white-color);
    font-size: 16px;
}

.footerTopBox {
    display: flex;
    width: 100vw;
}

.addressePanel {
    width: 50%;
}

.contactPanel {
    width: 50%;
}

.footerContainer h5 {
    font-family: righteous;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.footerBotBox {
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 80%;
    text-align: start;
    text-align: center;
}

.ouvertureBox {
    display: flex;
    text-align: center;
}

.daynameBox {
    width: 30%;
    width: 80px;
    text-align: start;
}

.horairesBox {
    width: 70%;
    text-align: start;
}

.horaireTitle {
    margin: 0 auto;
    width: 250px;
}

.cgulink {
    font-size: 18px;
}

/* responsive table */
@media (min-width: 700px) {
    .footerBotBox {
        width: 50%;
        margin: 0 auto;
    }

    .ouvertureBox {
        justify-content: start;
    }

    .horairesBox {
        width: 50%;
    }
}

/* responsive desktop*/
@media (min-width: 1200px) {
    .footerContainer {
        display: flex;
        justify-content: space-between;
    }

    .footerTopBox {
        justify-content: end;
        padding-right: 10%;
    }

    .addressePanel {
        width: 30%;
    }

    .contactPanel {
        width: 30%;
    }

    .footerBotBox {
        padding: 0px;
        margin: 0px;
    }
}