.galerieContainer {
    width: 95%;
    margin: 0 auto;
}

.activeGalerieImg {
    border-radius: 0px;
    border: solid 1px black;
    height: 264px;
    width: 100%;
}

.galerieImg {
    border-radius: 0px;
    width: 22%;
    height: auto;
    /*height: 100px;*/
    border: solid 1px black;
    cursor: pointer;
}
.galerieBotRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

@media (min-width: 700px) {
    .galerieBotRow {
        display: flex;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .galerieContainer {
        width: 70%;
    }
}