.galerieContainer {
    width: 95%;
    margin: 0 auto;
}

.activeImgContainer {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}

.activeGalerieImg {
    object-fit: fill;
    border-radius: 0px;
    height: 264px;
    width: 90%;
}

.imgContainer {
    width: 25%;
    height: 70px;
}

.galerieImg {
    object-fit: contain;
    border-radius: 0px;
    width: 100%;
    height: 70px;
    cursor: pointer;
}

.galerieBotRow {
    display: flex;
    background-color: black;
    border-top: 1px solid grey;
    width: 100%;
    margin-bottom: 5px;
    height: 70px;
}

@media (min-width: 700px) {
    .activeImgContainer {
        padding-top: 10px;
    }

    .activeGalerieImg {
        height: 400px;
    }

    .galerieImg {
        height: 100px;
    }

    .galerieBotRow {
        display: block;
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        height: 100px;
    }
}

@media (min-width: 1200px) {
    .activeGalerieImg {
        height: 500px;
    }

    .galerieContainer {
        width: 70%;
    }
}

@media (min-width: 1800px) {
    .activeGalerieImg {
        height: 600px;
    }

    .galerieContainer {
        width: 50%;
    }
}