.listEmployeePage {
    width: 100%;
}

.hideForm {
    display: none;
    visibility: hidden;
}

@media (min-width: 1000px) {
    .listEmployeePage {
        position: absolute;
        top: 0px;
        left: 35%;
        width: 60%;
    }
}