.listEmployeePage {
    width: 80%;
    margin: 0 auto;
}

.hideForm {
    display: none;
    visibility: hidden;
}

.ListEmployeeDetailWrapper {
    background-color: var(--section-color);
    width: fit-content;
}