.listEquipementPage {
    padding: 20px;
    width: 100%;
    height: 100%
}

.listEquipementPageTitle {
    font-family: oxygen;
    text-align: start;
}

.responseText{
    font-family: righteous;
    text-align: center;
}

.ListEquipementUL {
    list-style-type: initial;
    width: 100%;
    height: 100%
}

.ListEquipementLI {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.listEquipementP {
    width: 200px;
}

.listEquipementInput {
    margin-left: 20px;
    width: 30%;
    max-width: 300px;
}

.ListEquipementULBTN1, .ListEquipementULBTN2 {
    margin-left: 20px;
}

.ListEquipementULBTN1 {
    background-color: var(--delete-btn);
    font-family: righteous;
    font-size: 18px;
}

.ListEquipementULBTN2 {
    background-color: var(--add-btn);
    font-family: righteous;
    font-size: 18px;
}