.logo {
    width: 100px;
    height: 100px;
    width: 150px;
    height: 150px;
    margin-top: -20px;
    cursor: pointer;
}

@media (min-width: 600px) {
    .logo {
        margin-left: 5%;
    }
}

@media (min-width: 1200px) {
    .logo {
        margin-top: -40px;
        width: 200px;
        height: 200px;
    }
}