.modifyHorairePageWrapper {
    margin: 0 auto;
    width: 90%;
}

.modifyHoraireTitle {
    font-family: righteous;
    text-align: center;
}

.modifyHoraireSubtitle {
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

.modifyHoraireForm {
    height: fit-content;
    margin-top: 20px;
}

.modifyHoraireField {
    justify-content: space-around;
    width: 90%;
    align-items: center;
    margin-top: 100px;
    display: block;
}

.modifyHoraireSubField1, .modifyHoraireSubField2 {
    display: flex;
    width: 90%;
    align-items: center;
}

.modifyHoraireFieldName {
    width: 100px;
}

.modifyHoraireFieldInput {
    font-family: roboto;
    height: 25px;
    width: 150px;
    margin: 5px;
}

.modifyHoraireBtnField {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.modifyHoraireSubmitBtn {
    width: 200px;
    height: 30px;
}

.modifyHoraireResponseText {
    font-family: oxygen;
}

@media (min-width: 700px) {
    .modifyHoraireField {
        display: flex;
        margin-top: 0;
    }

    .modifyHoraireInputWrapper {
        display: flex;
    }

    .modifyHoraireSubField1 {
        margin-right: 20px;
    } 
    
    .modifyHoraireSubField2 {
        margin-left: 20px;
    }
}