.Workspace {
    overflow: scroll;
}

.workspaceTitle {
    text-align: center;
    font-size: 36px;
    font-family: righteous;
}

@media (min-width: 1000px) {
    .Workspace {
        position: absolute;
        top: 0;
        left: 35%;
        width: 64%;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
}

