.sectionLink {
    color: var(--black-color);
    font-size: 20px;
    justify-self: center;
}

.bandSection {
    background-color: var(--bg-color);
    height: 400px;
}

.bandSection h3 {
    color: var(--white-color);
    font-size: 36px;
    width: 90%;
    padding-top: 20%;
    margin-left: 5%;
}

.bandSectionBtn {
    margin-top: 90px;
    text-align: center;
}

.avisBtnBox {
    margin: 0 auto;
    width: 60%;
}

.avisBtnBox button {
    font-size: 18px;
    margin-top: 30px;
}