.backofficeHEADER {
    background-color: var(--bg-color);
    height: 12vh;
    min-height: 75px;
    position: fixed;
    width: 100%;
}

.backofficeLogoContainer {
    overflow: hidden;
    height: 100%;
}

.backofficeOutletContainer {
    padding-top: 12vh;
}

@media (min-width: 1200px) {
    .backofficeHEADER {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 30vw;    
        min-width: 410px;
        height: 100vh;
        padding-left: 20px;
        overflow: hidden;
        max-width: 450px;
    }

    .backofficeLogoContainer {
        height: 10vh;
        min-height: 100px;
        width: 100%;
        min-width: 410px;
        justify-content: center;
        margin: 0 auto;
    }

    .backofficeLogoContainer .logoContainer {
        width: inherit;
        height: inherit;
    }

    .backofficeLogoContainer .logo {
        width: 100%;
    }
}