.backofficeHEADER {
    background-color: var(--bg-color);
    height: 12vh;
    /*overflow: hidden;*/
    position: fixed;
    width: 100%;
}

.backofficeLogoContainer {
    overflow: hidden;
    height: 100%;
}

.backofficeOutletContainer {
    padding-top: 12vh;
}

@media (min-width: 1000px) {
    .backofficeHEADER {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 30vw;    
        height: 100vh;
        padding-left: 20px;
        overflow: hidden;
        max-width: 450px;
    }
}