.contactPage {
    width: 95%;
    margin: 10px auto;
}

@media (min-width: 700px) {
    .contactPage {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        max-width: 1200px;
    }
}