.galerieOutletContainer {
    display: inherit;
    margin: inherit;
    padding: inherit;
    margin-top: 10px;
}

.galerie {
    padding: 20px 10px 10px 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.navBarOccasions {
    font-family: righteous;
    position: fixed;
    bottom: 0;
    width: 99%;
    display: flex;
    text-align: center;
    border: solid 1px var(--black-color);
    background-color: var(--bg-color);
    color: var(--white-color);
    z-index: 10;
}

.navBarOccasions button {
    border: none;
    height: 50px;
    background-color: var(--bg-color);
    color: var(--white-color);
    font-size: 24px;
    cursor: pointer;
}
.navBarOccasionsLeftBTN {
    border-right: solid 1px var(--black-color);
    width: 50%;
}

.navBarOccasionsRightBTN {
    width: 50%;
}

.filterPanel {
    background-color: var(--bg-color);
    height: 100vh;
    width: 100%;
    display: none;
    visibility: hidden;
    position: fixed;
    top: 12vh;
    overflow: hidden;
    z-index: 9;
}

.trierPanel {
    background-color: var(--bg-color);
    height: 20vh;
    min-height: 135px;
    width: 100vw;
    display: none;
    visibility: hidden;
    position: fixed;
    bottom: 0vh;
    left: 0vw;
    overflow: hidden;
    z-index: 8;
}

.pageOccasionFilterSectionTitle {
    font-family: righteous;
    text-align: center;
}

.showMenu {
    display: block;
    visibility: visible;
    z-index: 8;
}

.galerieSelectTrier {
    margin-left: 10%;
    margin-top: 20px;
    height: 40px;
    border-radius: 5px;
    width: 80%;
    font-size: 20px;
}

/* responsive tablet */
@media (min-width: 700px) {
    .galerieTable {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 1000px) {
    .filterPanel {
        top: 13vh;
    }
}

/* responsive desktop */
@media (min-width: 1200px) {
    .pageOccasion {
        display: flex;
    }

    .galerie {
        margin-right: 15px;
    }

    .galerieTable {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .navBarOccasions {
        display: none;
    }

    .filterPanel {
        display: block;
        visibility: visible;
        position: initial;
        height: 600px;
        width: 300px;
        margin: 20px;
        margin-top: 50px;
    }

    .trierPanel {
        display: flex;
        visibility: visible;
        position: initial;
        top: 0;
        left: 55vw;
        width: 95%;
        height: 40px;
        background-color: transparent;
        justify-content: end;
    }
    .galerieSelectTrier {
        height: 20px;
        font-size: 16px;
        width: 15%;
    }
}

/* responsive large screen */
@media (min-width: 1600px) {
    .galerieTable {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}