.mainPageProduct {
    width: 90%;
    margin: 0 auto;
    overflow-x: hidden;
}

/* NAVIGATION INTER PRODUCT */
.navigationInterProduct {
    background-color: var(--bg-color);
    width: 100%;
    height: 80px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.leftBtnWrapper {
    width: 33%;
    text-align: center;
}

.middleBtnWrapper {
    width: 33%;
    text-align: center;
}

.RightBtnWrapper {
    width: 33%;
    text-align: center;
}

.navigationInterProductBTN {
    margin-top: 8px;
    width: 80%;
    height: 80%;
    font-family: righteous;
    color: var(--black-color);
    background-color: var(--btn-color);
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.blocked {
    background-color: gray;
}

/* PRODUCT PAGE */
.productPage {
    width: 100%;
    margin: 0 auto;

}

/* CARCARD */
.carCard {
    border: 1px solid var(--black-color);
    width: 95%;
    margin: 0 auto;
}

.carCardHeader {
    padding: 20px 0px 0px 20px;
    border-bottom: 1px solid var(--black-color);
    background-color: var(--bg-color);
}

#carTitle {
    padding: 0;
    margin: 0;
    font-family: righteous;
    text-align: start;
}

#carDescription1 {
    font-family: oxygen;
}

#carRef {
    font-family: roboto;
}

.carCardBody {
    padding: 0px 20px 0px 20px;
    font-family: roboto;
}

#carPrice, .carPrice{
    font-family: righteous;
    padding: 0;
    margin: 0;
}

.carPriceTTC {
    font-family: righteous;
    font-size: 12px;
    line-height: 0px;
}
.carCardFooter {
    border-top: 1px solid var(--black-color);
    padding: 0;
}

.priceBox {
    display: flex;
    margin-bottom: 10px;
}

/* EQUIPEMENTS / DETAIL */
.sectionEquipement h3 {
    text-align: start;
}

.equipDetail {
    display: flex;
    justify-content: space-around;
}

.equipDetail h2 {
    font-family: righteous;
}

.active {
    background-color: var(--btn-color);
    cursor: pointer;
    text-decoration: underline;

}

.showDiv {
    visibility: visible;
    position: initial;
}

.hiddenDiv {
    visibility: hidden;
    position: absolute;
}

#detailsDiv h3 {
    font-family: righteous;
}

#carProductContactBtn {
    height: 70px;
    width: 100%;
    background-color: var(--btn-color);
    border: none;
    font-family: righteous;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 2px 4px var(--bg-color);
}

@media (min-width: 1200px) {
    .active {
        background-color: initial;
        text-decoration: initial;
    }

    .equipDetail {
        position: absolute;
        visibility: hidden;
    }

    .lesplusWrapper {
        margin-bottom: 80px;
    }

    .topSection {
        display: flex;
    }

    .carCard {
        width: 29%;
        height: fit-content;
    }

    .carCardFooter {
        margin-top: 10px;
    }

    .sectionEquipement {
       padding: 20px;
    }   

    .equipDetail {
        width: 100%;
        height: 100%;
    }

    .equipementWrapper {
        display: flex;
        width: 100%;
    }
    
    #equipementsDiv {
        width: 75%;
        visibility: visible;
        position: initial;
    }
    
    #detailsDiv {
        width: 25%;
        margin-right: 20px;
        padding-left: 20px;
        position: initial;
        background-color: var(--bg-color);
        visibility: visible;
    }

    .navigationInterProductBTN {
        font-size: 24px;
    }
}
