.productPage {
    padding: 10px;
}

/* CARCARD */
.carCard {
    border: 1px solid var(--black-color);
}

.carCardHeader {
    padding: 20px 0px 0px 20px;
    border-bottom: 1px solid var(--black-color);
    background-color: var(--bg-color);
}

#carTitle {
    padding: 0;
    margin: 0;
    font-family: righteous;
    text-align: start;
}

#carDescription1 {
    font-family: oxygen;
}

#carRef {
    font-family: roboto;
}

.carCardBody {
    padding: 0px 20px 0px 20px;
    font-family: roboto;
}

#carPrice, .carPrice{
    font-family: righteous;
    padding: 0;
    margin: 0;
}

.carPriceTTC {
    font-family: righteous;
    font-size: 12px;
    line-height: 0px;
}
.carCardFooter {
    border-top: 1px solid var(--black-color);
    padding: 0;
}

.priceBox {
    display: flex;
    margin-bottom: 10px;
}

/* EQUIPEMENTS / DETAIL */
.sectionEquipement h3 {
    text-align: start;
}

.equipDetail {
    display: flex;
    justify-content: space-around;
}

.equipDetail h2 {
    font-family: righteous;
}

.active {
    background-color: var(--btn-color);
}

.showDiv {
    visibility: visible;
    position: initial;
}

.hiddenDiv {
    visibility: hidden;
    position: absolute;
}

#detailsDiv h3 {
    font-family: righteous;
}

#carProductContactBtn {
    height: 70px;
    width: 100%;
    background-color: var(--btn-color);
    border: none;
    font-family: righteous;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 2px 4px var(--bg-color);
}

@media (min-width: 1200px) {
    .topSection {
        display: flex;
    }

    .carCard {
        width: 29%;
    }

    .sectionEquipement {
       padding: 20px;
    }   

    .equipDetail {
        width: 100%;
        height: 100%;
    }

    .equipementWrapper {
        display: flex;
        width: 100%;
    }

    .lesplusWrapper {

    }

    .equipserieWrapper {

    }
    
    #equipementsDiv {
        width: 75%;
        visibility: visible;
        position: initial;
    }
    
    #detailsDiv {
        width: 25%;
        margin-right: 20px;
        padding-left: 20px;
        position: initial;
        background-color: var(--bg-color);
        visibility: visible;
    }
}