.productPage {
    padding: 10px;
}

/* CARCARD */
.carCard {
    border: 1px solid var(--black-color);
}

.carCardHeader {
    padding: 20px 0px 0px 20px;
    border-bottom: 1px solid var(--black-color);
    background-color: var(--bg-color);
}

#carTitle {
    padding: 0;
    margin: 0;
    font-family: righteous;
    text-align: start;
}

#carDescription1 {
    font-family: oxygen;
}

#carRef {
    font-family: roboto;
}

.carCardBody {
    padding: 0px 20px 0px 20px;
    font-family: roboto;
}

#carPrice, .carPrice{
    font-family: righteous;
    padding: 0;
    margin: 0;
}

.carPriceTTC {
    font-family: righteous;
    font-size: 12px;
    line-height: 0px;
}
.carCardFooter {
    border-top: 1px solid var(--black-color);
}

.priceBox {
    display: flex;
    margin-bottom: 10px;
}

/* EQUIPEMENTS / DETAIL */
.sectionEquipement h3 {
    text-align: start;
}

.equipDetail {
    display: flex;
    justify-content: space-around;
}

.equipDetail h2 {
    font-family: righteous;
}

.active {
    background-color: var(--btn-color);
}

.showDiv {
    visibility: visible;
    position: initial;
}

.hiddenDiv {
    visibility: hidden;
    position: absolute;
}

#detailsDiv h3 {
    font-family: righteous;
}