#serviceHeroTitle {
    top: 30%;
    left: 15%;
    font-size: 48px;
}

.servicesDescription {
    padding-left: 5px;
    display: block;

}

.servicesDescription h3 {
    text-align: start;
}

.container {
    padding: 10px;
}

/* responsive tablet */
@media (min-width: 700px) {
    .servicesDescription {
        margin: 0 auto;
        padding-left: 30px;
        width: 90%;
    }
}

/* responsive desktop */
@media (min-width: 1200px) {
    .servicesDescription {
        max-width: 1600px;
    }
}

.navSnippet {
    background-color: var(--btn-color);
    padding: 10px 0px 10px 30px;
    width: 90%;
    margin: 40px auto;
    max-width: 1400px;
}

.navSnippet a, .navSnippet ul, .navSnippet li {
    color: var(--black-color);
}

.navSnippet li {
    cursor: pointer;
}

.navSnippet li:hover {
    background-color: var(--bg-color);
    border-radius: 10px;
}

/* responsive tablet */
@media (min-width: 850px) {
    .navSnippet ul {
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        padding-right: 40px;
        
    }
}

/* responsive desktop */
@media (min-width: 1200px) {
    .navSnippet ul {
        width: 90%;
        justify-content: space-evenly;
        padding-right: 40px;
    }
}