/* variables & utilities */
:root {
  --bg-color: #4682B4;
  --section-color: #B0C4DE;
  --btn-color: #87CEFA;
  --white-color: #F2F2F2;
  --black-color: #270526;
}

@font-face {
  font-family: oxygen;
  src: url(./ressources/font/Oxygen-Regular.ttf);
}
@font-face {
  font-family: righteous;
  src: url(./ressources/font/Righteous-Regular.ttf);
}
@font-face {
  font-family: roboto;
  src: url(./ressources/font/Roboto-Regular.ttf);
}


/* elements */
html, body, main {
  padding: 0;
  margin: 0;
  background-color: var(--white-color);
}

section {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--section-color);
}

section h1, section h2, section h3 {
  text-align: center;
}

section img {
  object-fit: cover;
  width: 100%;
  height: 284px;
  border-radius: 20px;
}

a, nav {
  text-decoration: none;
  color: var(--white-color);
  font-size: 24px;
  font-family: righteous;
}

h1,h2,h3,h4 {
  color: var(--black-color);
  font-size: 24px;
  font-family: oxygen;
  font-weight: 400;
}

p, label, li {
  color: var(--black-color);
  font-size: 20px;
  font-family: roboto;
}

hr {
  background-color: var(--black-color);
  height: 1px;
}

/* general class */
.heroBanner {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 430px;
}

.heroTitle {
  position: absolute;
  left: 5%;
  top: 30%;
  color: var(--white-color);
  z-index: 8;
}

.textwrapper {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.linkwrapper {
  text-align: center;
  margin-bottom: 20px;
}

.ffrighteous {
  font-family: righteous;
}

.ffoxygen {
  font-family: oxygen;
}

.ffroboto {
  font-family: roboto;
}